In [35]:
import pandas as pd
import numpy as np
import pickle
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [36]:
df = pd.read_csv('placementdata.csv')

In [37]:
df.head()

,RegNo.,Quants,LogicalReasoning,Verbal,Programming,CGPA,Networking,CloudComp,WebServices,DataAnalytics,QualityAssurance,AI,Placed
0,T150054001,11,11,10,11,10.00,4.3,8.2,8.4,8.3,8.1,8.0,1
1,T150054002,8,10,11,18,8.80,8.9,8.0,8.0,8.0,8.3,9.4,1
2,T150054003,11,11,10,8,9.63,8.4,8.0,8.0,8.0,8.0,5.4,1
3,T150054004,14,13,8,8,6.55,4.5,6.5,6.9,3.3,4.1,4.6,0
4,T150054005,10,7,7,10,7.27,3.1,5.6,6.7,4.6,2.7,4.4,0

In [38]:
df = df.drop(columns=['RegNo.','Networking','CloudComp','WebServices','DataAnalytics','QualityAssurance','AI'])

In [39]:
df.head()

   Quants  LogicalReasoning  Verbal  Programming   CGPA  Placed
0      11                11      10           11  10.00       1
1       8                10      11           18   8.80       1
2      11                11      10            8   9.63       1
3      14                13       8            8   6.55       0
4      10                 7       7           10   7.27       0

In [40]:
x = df.drop(columns=['Placed'])
y = df['Placed']

In [41]:
x

     Quants  LogicalReasoning  Verbal  Programming   CGPA
0        11                11      10           11  10.00
1         8                10      11           18   8.80
2        11                11      10            8   9.63
3        14                13       8            8   6.55
4        10                 7       7           10   7.27
..      ...               ...     ...          ...    ...
325      22                25      24           23   9.35
326      25                23      21           22   8.51
327      21                23      24           25   8.82
328      22                25      24           21   8.59
329      21                21      23           22   8.50

[330 rows x 5 columns]

In [42]:
y

0      1
1      1
2      1
3      0
4      0
      ..
325    0
326    0
327    0
328    1
329    1
Name: Placed, Length: 330, dtype: int64

In [160]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=43)

In [161]:
knn = KNeighborsClassifier()
knn = knn.fit(x_train,y_train)

In [162]:
y_pred = knn.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0], dtype=int64)

In [163]:
from sklearn import metrics
acc = metrics.accuracy_score(y_test,y_pred)
acc

0.7272727272727273